{#
/**
 * @file
 * Template for the news landing page
 */
#}

<div id="page" {% if node_type is defined %} data-page-node-type="{{ node_type }}" {% endif %}>
  <header id="header">
    <div id="header-container">
      <div class="header_left_container">
        {{ page.header_left }}
      </div>
      <div class="header_right_container">
        {{ page.header_right}}
        <div id="header_widescreen_search_bar">
          {{ page.header_search }} 
        </div>
      </div>
    </div>
  </header>

  <div id="outer_container" class="page_outer_container">
    <div id="header_region">
      <div id="header_menu" class="region_container">
        {{ page.menu }}
      </div>
      <div id="header_dropdown_submenu"></div>
      <div id="subheader">
        <div id="subheader_widescreen">
          <div id="subheader_widescreen_submenu_region">
            <div id="subheader_widescreen_submenu">
            </div>
          </div>
        </div>
        <div id="subheader_mobile">
          <div id="subheader_mobile_header">
            <h3 id="subheader_mobile_title">MENU</h3>
          </div>
          <div id="subheader_mobile_collapsible">
            <div id="subheader_mobile_search">
            </div>
            <div id="subheader_mobile_body">
            </div>
            <div id="subheader_mobile_footer">
              <div id="subheader_mobile_close_button">CLOSE</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main-wrapper">
      <div id="main">
        <main id="content" role="main">
          {{ page.content }}
        </main>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="content_wrapper">
      {{ page.footer }}
      <div id="footer_2_columns_left">
        {{ page.footer_left }}
        {{ page.footer_middle }}
      </div>
      {{ page.footer_right }}
    </div>
  </footer>
</div>
