{#
/**
 * @file
 * ACHP's theme implementation to display the front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_left: Items for the header left region.
 * - page.header_right: Items for the header right region.
 * - page.menu: The menu list
 * - page.content: The main content of the current page.
 * - page.news: News Items that have been promoted to the front page.
 * - page.footer: Items for the footer.
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">
    <header id="header">
<!--       <div id="header-logo">
        <img src="{{ logo }}" alt="ACHP's Logo"/>
      </div>
      <div id="header-title">
        <h1>{{ site_name }}</h1>
      </div> -->
      <div id="header-container">
        <div class="header_left_container">
          {{ page.header_left }}
        </div>
        <div class="header_right_container">
          {{ page.header_right}}
          <div id="header_widescreen_search_bar">
            {{ page.header_search }} 
            <!-- <input value="" data-drupal-selector="edit-submit" type="submit" id="edit-submit" class="button js-form-submit form-submit search-button"> -->
          </div>
      </div>
    </header>

    <div id="outer_container">
      <div id="header_region">
        <div id="header_menu" class="region_container">
          {{ page.menu }}
        </div>
        <div id="header_dropdown_submenu"></div>
        <div id="subheader">
          <div id="subheader_widescreen">
            <div id="subheader_widescreen_submenu_region">
              <div id="subheader_widescreen_submenu">
              </div>
            </div>
          </div>
          <div id="subheader_mobile">
            <div id="subheader_mobile_header">
              <h3 id="subheader_mobile_title">MENU</h3>
            </div>
            <div id="subheader_mobile_collapsible">
              <div id="subheader_mobile_search">
              </div>
              <div id="subheader_mobile_body">
              </div>
              <div id="subheader_mobile_footer">
                <div id="subheader_mobile_close_button">CLOSE</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="homepage_hero_region" class="region_container">
        {{ page.homepage_hero }}
      </div>
      <div id="homepage_quicklinks_region" class="region_container">
        {{ page.homepage_quicklinks }}
      </div>
      <div id="homepage_news_region" class="region_container">
        {{ page.homepage_news }}
      </div>
      <div id="homepage_events_region" class="region_container">
        {{ page.homepage_events }}
      </div>
      <div id="homepage_flowchart_region" class="region_container">
        {{ page.homepage_flowchart }}
      </div>
      <div id="homepage_map_region" class="region_container">
        {{ page.homepage_map }}
      </div>
      <div id="homepage_success_region" class="region_container">
        {{ page.homepage_success }}
      </div>
      <div id="homepage_issues_region" class="region_container">
        {{ page.homepage_issues }}
      </div>
      <div id="homepage_impact_region" class="region_container">
        {{ page.homepage_impact }}
      </div>
      <div id="homepage_preserveamerica_region" class="region_container">
        {{ page.homepage_preserveamerica }}
      </div>
    </div>
  <footer id="footer">
    {{ page.footer }}
  </footer>
  </div>
</div>
